.latest-report-link {
  top: 5px;
  position: relative;
  padding-left: 6px;
  padding-right: 8px;
}

.title-link {
  color: #eee !important;
  font-weight: bold !important;
  text-decoration: none !important;
}

.title-link:hover {
  color: yellow !important;
}
